[Unit]
Description=SleepCare GUI Application
Documentation=https://github.com/WhiPaper/sleepcare
After=sleepcare-core.service
Wants=sleepcare-core.service

[Service]
ExecStart=/usr/bin/sleepcare-gui
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
SyslogIdentifier=sleepcare-gui
Environment=LV_DRM_CARD=/dev/dri/card2

[Install]
WantedBy=multi-user.target
